workflows/monthly-close-forecast.json
{
  "name": "Monthly Close Forecast",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression", 
              "expression": "0 6 1 * *"
            }
          ]
        }
      },
      "id": "monthly-trigger",
      "name": "Monthly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SAP_ODATA_URL }}/ACDOCA?$filter=CompanyCode eq '{{ $env.SAP_COMPANY_CODE }}'",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SAP_OAUTH_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "sap-extract",
      "name": "Extract SAP Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SAPIENCE_API_URL }}/predict/pup",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ data: $json, model: 'top_down_ml', confidence: 0.95 }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CLAUDE_API_KEY }}"
            },
            {
              "name": "X-Tenant-ID", 
              "value": "{{ $env.TENANT_ID }}"
            }
          ]
        }
      },
      "id": "ml-predict",
      "name": "ML Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/teams/{{ $env.TEAMS_TEAM_ID }}/channels/general/messages",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={ \"body\": { \"contentType\": \"html\", \"content\": \"<h2>📊 Monthly Close Forecast</h2><br><strong>PUP Forecast:</strong> €{{ $json.forecast.toLocaleString() }}<br><strong>Confidence:</strong> {{ $json.confidence }}%<br><a href='{{ $env.DASHBOARD_URL }}'>📈 View Dashboard</a>\" } }",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api"
      },
      "id": "teams-notify",
      "name": "Notify Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Monthly Trigger": {
      "main": [
        [
          {
            "node": "Extract SAP Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SAP Data": {
      "main": [
        [
          {
            "node": "ML Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ML Prediction": {
      "main": [
        [
          {
            "node": "Notify Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}